div.imgDetail>img.arrowImg, div.imgDetail>img.heartImg {
  position: absolute;
  z-index: 999;
  margin: 3%;
}

div.imgDetail>img.heartImg {
  right: 1%;
}

div.infoBox {
  width: 100%;
  z-index: 999;
  transform: translate(0px, 175px);
  position: absolute;
  display: flex;
  justify-content: space-between;
}

div.subInfo {
  display: flex;
  width: 50%;
  align-items: baseline;
  justify-content: space-around;
}

img.courseImg {
  width: 100%;
}

div.courseDescription {
  padding: 0 5%;
  text-align: justify;
}

div.jobsInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 4% 9%;
  background-color: #F5B6A3;
  color: whitesmoke;
  box-sizing: border-box;
}

h3.whiteH3 {
  color: whitesmoke;
}