/* -----------------------HEADER----------------------*/

div.navHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 7% 0 0 0;
}

div.navHeader input {
  width: 55%;
  border-radius: 8px;
  border: solid 1px lightgray;
  padding: 10px;
  font-family: Heebo;
  letter-spacing: 0.4px;
  color: #78746D;
}

div.navHeader input:focus {
  outline: none
}

/*---------TIPOGRAFIAS-----------*/

h2 {
  font-family: Archivo;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #666666;
}

.h2Green {
  font-weight: 700;
  color: #5BA092;
}

h3 {
  font-family: Archivo;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: rgb(153 153 153);
  margin-bottom: 14px;
}

.textPresentation {
  font-family: Heebo;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: rgb(153 153 153);
  width: 80vw;
  margin: 10px 0;
}

.textLabel {
  font-family: Heebo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #666666;
}

.textPlaceholder {
  font-family: Heebo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #666666;
}