/* -----------------------HEADER----------------------*/

div.navHeader {
  display: flex;
  justify-content: space-evenly;
  padding: 7% 0 0 0;
}
div.navHeader input {
  width: 55%;
  border-radius: 8px;
  border: solid 1px lightgray;
  padding: 10px;
}
div.navHeader input:focus {
  outline: none
}