body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  font-family: 'Heebo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: #fbfbfb
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3{
  font-family: Archivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: rgb(153 153 153);
  margin-bottom: 14px;
}
